.tags a {
  border: 1px solid #5594f1;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.tags a:hover {
  /*background-color: #5594f19e;*/
  background-color: #f3f3f3;
}

#TableOfContents {
  overflow-y: hidden;
}

#TableOfContents ul li {
  line-height: 1.7em;
  font-size: 13px;
  font: 13px/2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 10px;
}

#TableOfContents ul li a {
  padding: 10px;
}

#TableOfContents ul li a:hover {
  background-color: #f3f3f3;
}

img {
  max-width: 100%;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
