.tags a {
  border: 1px solid #5594f1;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.tags a:hover {
  background-color: #5594f19e;
  color: #333;
}
